img {
  max-width: 50%;
  max-height: 30%;
}

ul {
  list-style: none;
  padding: 0;
  width: 200px;

  li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

iframe {
  visibility: hidden;
}

.footer__buttons {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media print {
  iframe {
    visibility: hidden;
  }

  app-comprovante {
    display: block;
  }
}
